<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angeltek.volunteered_trail">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>


  <application
      android:allowBackup="true"
      android:icon="@mipmap/vlogo"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/vlogo"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:screenOrientation="portrait">
    <activity android:name=".home.HomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".location.LocationActivity" />

    <activity android:name=".notification.NotificationActivity" />

    <activity android:name=".ping.PingActivity"
        android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".user.UserActivity" />

    <activity android:name=".forums.ForumsActivity" />

    <activity android:name=".post.PostActivity"
        android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".wizard.WizardActivity"
        android:windowSoftInputMode="adjustNothing"/>

    <activity android:name=".search.SearchActivity" />

    <activity android:name=".startup.LoginActivity" />

    <activity android:name=".startup.ForgotPasswordActivity"
        android:noHistory="true"/>

    <activity android:name=".startup.SignUpActivity" />

      <activity android:name=".forums.ForumRoomActivity"
          android:windowSoftInputMode="adjustResize"/>

      <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />
  </application>

</manifest>